#stationMap {
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
/*IMG*/
#logoA{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 55px;
}
*{
  margin: 0px;
  padding: 0px;
}

/* HEADER */

  header div{
    position: relative;
    width: 180px;
    height: 45px;
    background-color: white;
    margin-bottom: 10px;
    float: right;
    margin-right: 0px;
  }
  header button{
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;

  }
  header button img{
    margin-right: 15px;
    margin-top: 2.5px;

  }
  header button h3 {
    display: inline-block;
    position: relative;
    bottom: 3px;
  }

header {
background-color: white;
  height: 415px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
header nav{
  display: inline-block;
  height: 348px;
  margin-left: auto;
  margin-right: auto;
  
}
header nav ul {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

header nav ul li{
  text-align: center;
  position: relative;
  display: inline-block;
  bottom: 60px;
  margin-left: 280px;



}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  
}
header nav ul li a img{
background-color:white ;
padding: 6px;
border-radius: 20px;
box-shadow: 0px 0px 10px 0px green;
text-align: center;
}

header nav ul li a h3{
  background-color: white;
  text-align: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 0px;
  
  }
  

/*header finish!*/

main{
  background-color: teal;
}

footer p {  
  text-align: center;
}