 <!DOCTYPE html>
 <html lang="nl-BE">
 <head>
     <meta charset="UTF-8">
     <meta name="description" content="Project opdracht group k">
     <meta name="keywords" content="HTML,CSS,XML,JavaScript">
     <meta name="author" content="Group K">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- mapscript codes -->
     <link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/4.1.1/main.min.css"> <!-- css antwerpen huisstijl-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" defer></script>
     <!-- Verbindingen met documenten-->
    <script src="javascript/leaflet.js" defer></script>
    <script src="javascript/login.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
     

     <title>IT-Project-Group K</title>
 </head>
 <body>

     <header>
        
            <button class="a-button-official" onclick="document.getElementById('topAanmelden').style.display='block'">
                Log in with A-profile
              </button>
       

        <div id="topAanmelden" class="loginForm">

0            <form id="loginFormActief">
          
              <span onclick="document.getElementById('topAanmelden').style.display='none'" class="close" title="Afsluiten">&times;</span>
          
              <div class="containerInloggen">
          
                <label for="username"><b>Gebruikersnaam</b></label>
                <input type="text" placeholder="Gebruikersnaam invoeren" name="userName" required>
          
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Password invoeren" name="password" required>
                
                <button type="submit" id="loginButton">Login</button>
          
              </div>
          
            </form>
          </div>

          <img src="images/logo.svg" alt="Stad antwerpen logo" id="logoA"> 

         <nav>
             <img src="./Images/antwerpentest.png" alt="" id="achtergrondPsn">
             <img src="./Images/antwerpenMobile.png" alt="" id="achtergrondPsnMobile">
             
             <ul id="navDesktop">
                 <li><a href="www.eben.com"> <img src="./Images/home.png" alt=""><h3>HOME</h3></a></li>
                 <li> <a href="www.eben.com"><img src="./Images/locatie.png" alt=""><h3>PLAATSEN</h3></a></li>
                 <li><a href="www.eben.com"><img src="./Images/contact.png" alt=""><h3>CONTACT</h3></a> </li>
             </ul>
             <div class="navMobile">
                <a href="./index.HTML"><h3>HOME</h3></a>
              </div>
              <div class="navMobile">
                <a href="./index.HTML#mainMenu"><h3>PLAATSEN</h3></a>
            </div>
            <div class="navMobile">
                <a href="/index.HTML#contact"><h3>CONTACT</h3></a>
            </div>
         </nav>
        
     </header>


     <main id="mainMenu">

         <h1 id="welkomBericht">Groene stad antwerpen</h1>
        
          <h2 id="plaatsenLijst">Plaatsen</h2>
          <article id="buurtGroen">
          <h2>Buurt-gebruiksgroen</h2>
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
          </ul>
        </article>
        <article>
          <h2>Stadsdeelgebruiksgroen</h2>
          <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
          </ul>
        </article>
        
         
         <div id="stationMap" style="z-index: 0;">

         </div>
         <br>
         <br>
         <br>


     </main>
     
     <footer id="contact">
      <br>
    <div id="contact">
      <address class="handtekening">
          <p class="hoofdtitel"><b>Selim Kaygun | Scrum master</b><br>stad Antwerpen | Groep K<br> 33, 2060 Antwerpen<br>✉ Grote Markt 1, 2000 Antwerpen<br>gsm +32 4xx xx xx xx | tel. +32 3 338 xx xx <br><a href="https://www.antwerpen.be/nl/home">www.antwerpen.be</a></p>
      </address><BR></BR>
      
      <address class="handtekening">
          <p class="hoofdtitel"><b>Burak Ocbe | Development Team</b><br>stad Antwerpen | Groep K<br> 33, 2060 Antwerpen<br>✉ Grote Markt 1, 2000 Antwerpen<br>gsm +32 4xx xx xx xx | tel. +32 3 338 xx xx <br><a href="https://www.antwerpen.be/nl/home">www.antwerpen.be</a></p>
      </address> <BR></BR>

      <address class="handtekening">
          <p class="hoofdtitel"><b>Benito James | Development Team</b><br>stad Antwerpen | Groep K<br> 33, 2060 Antwerpen<br>✉ Grote Markt 1, 2000 Antwerpen<br>gsm +32 4xx xx xx xx | tel. +32 3 338 xx xx <br><a href="https://www.antwerpen.be/nl/home">www.antwerpen.be</a></p>
      </address> <BR></BR>

      <address class="handtekening">
          <p class="hoofdtitel"><b>Youssef El Hindaz| Product Owner</b><br>stad Antwerpen | Groep K<br> 33, 2060 Antwerpen<br>✉ Grote Markt 1, 2000 Antwerpen<br>gsm +32 4xx xx xx xx | tel. +32 3 338 xx xx <br><a href="https://www.antwerpen.be/nl/home">www.antwerpen.be</a></p>
      </address> <BR></BR>
   </div>
   <div class="copy">
      <p>Gemaakt door &copy;Group K | 2019 AP-Antwerpen.be | <a href="privacy.html">Privacy & gebruiksvoorwaarden</a></p>
   </div>

     </footer>
    </body>
 </html>